.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.FlagSelector {
  background-color: white;
}

.HebStyle {
  direction: rtl;
}

.Body{
  text-align: start;
  margin: 15px;
}

.BodyHeader{
  text-align: center;
  margin-bottom: 20px;
}

.Countdown{
  font-weight: bold;
  font-size: 20px;
}

/*.Video{*/
  /*display: inline-block;*/
  /*height: 390px;*/
  /*width: 640px;*/
  /*text-align: center;*/
  /*padding-top: 25px;*/
/*}*/

@media (max-width: 480px) {
  .Video {
    display: inline-block;
    height: 195px;
    width: 320px;
    padding-top: 25px;
  }

  .VideosCarousel {
    direction: ltr;
    display: inline-block;
    height: 195px;
    /*width: 320px;*/
    padding-top: 25px;
  }
}

@media (min-width: 480px) {
  .Video {
    display: inline-block;
    height: 390px;
    width: 640px;
    padding-top: 25px;
  }

  .VideosCarousel {
    direction: ltr;
    display: inline-block;
    /*height: 390px;*/
    /*width: 640px;*/
    padding-top: 25px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
