.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.FlagSelector {
  background-color: white;
}

.VideosCarousel {
  direction: ltr;
}

.HebStyle {
  direction: rtl;
}

.Body{
  text-align: start;
  margin: 15px;
}

.BodyHeader{
  text-align: center;
  margin-bottom: 20px;
}

.Countdown{
  font-weight: bold;
  font-size: 20px;
}

.Video{
  text-align: center;
  padding-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
